@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:wght@400;500;700");
@import "tailwindcss";

@theme {
  --font-main: "Google Sans Flex", sans-serif; /* main font for most purposes */

  --color-mainblack: #1c1c1c;
  --color-maingrey: #2a2a2a;
  --color-mainorange: #d95923;
  --color-mainwhite: #ffffff;
}

@layer utilities {
  .font-main {
    font-family: var(--font-main);
  }
}

body {
  @apply bg-mainblack;
  font-family: var(--font-main);
}

html {
  overflow-y: scroll;
  scroll-behaviour:;
}

html::-webkit-scrollbar {
  /* chrome safari etc */
  display: none;
}

html {
  scrollbar-width: none; /* firefox */
}

html {
  -ms-overflow-style: none; /* microsoft apps */
}
